.footer {
  max-width: 100%;
  margin-top: 75px;
  padding: 25px 0;
  overflow: hidden;
  border-top: 1px solid var(--foreground);
}

.nav_links {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .top_nav {
    height: 75px;
  }
}

@media screen and (max-width: 768px) {
  .top_nav {
    height: 90px;
  }
  .nav_links {
    flex-direction: column-reverse;
  }

  .nav_links > div {
    margin-top: 30px;
  }

  .footer {
    margin-top: 55px;
    padding-top: 0;
  }
}
