@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #222222;
  --background: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f8f8f8;
    --background: #222222;
  }
}

/* FONTS */

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer/Switzer-Regular.woff2") format("woff2"),
    url("/fonts/Switzer/Switzer-Regular.woff") format("woff"),
    url("/fonts/Switzer/Switzer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer/Switzer-Medium.woff2") format("woff2"),
    url("/fonts/Switzer/Switzer-Medium.woff") format("woff"),
    url("/fonts/Switzer/Switzer-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer/Switzer-Bold.woff2") format("woff2"),
    url("/fonts/Switzer/Switzer-Bold.woff") format("woff"),
    url("/fonts/Switzer/Switzer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer/Switzer-Black.woff2") format("woff2"),
    url("/fonts/Switzer/Switzer-Black.woff") format("woff"),
    url("/fonts/Switzer/Switzer-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

body,
.scroll-container {
  color: var(--foreground);
  background: var(--background);
  font-family: Switzer, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding-left: 80px;
  padding-right: 80px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.text-small {
  line-height: 1.2;
}
.text-medium {
  font-size: 24px;
  line-height: 1.2;
}
.text-large {
  font-size: 36px;
  line-height: 1.2;
}
.text-extra-large {
  margin-left: -1vw;
  font-size: 13.67vw;
  font-weight: 600;
  line-height: 0.88;
  letter-spacing: -6px;
}

.text-light {
  color: #696969;
}

.scroll-container {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

@media screen and (max-width: 479px) {
  body.scroll-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .text-medium {
    font-size: 20px;
  }
  .text-large {
    font-size: 28px;
  }
  .text-extra-large {
    font-size: 10.5vw;
    letter-spacing: -2px;
  }
}

@media screen and (max-width: 991px) {
  body,
  .scroll-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
