.hero_wrapper{
    margin-top: 75px;
    margin-bottom: 30px;
}

.section_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem 0;
    border-bottom: 1px solid #000000;
}

.text_scroll_wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 140px;
    margin: auto;
    overflow: hidden;
    z-index: 1;
    } 

.text_scroll {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      transform: scale(2);
      transition: all 1s ease;

     
  }

.text_scroll > div {
        display: flex;
        animation: scrollText 33s infinite linear;
        color: #1A1A1A;
      }

      .text_scroll > div > div > div {
        margin-right: 30px;
      }
  /*div:hover {
    animation-play-state: paused;
  }*/
  @keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }