.hero_wrapper {
  margin-top: 75px;
  margin-bottom: 30px;
}

.hero_wrapper span:hover {
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  color: transparent;
}

.section_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem 0;
  border-bottom: 1px solid #000000;
}

.projects_image {
  border: 1px solid #000000;
  margin-bottom: 10px;
  object-fit: fill;
}

.projects_image:hover {
  border-radius: 0;
}
.projects_link {
  transition: transform 0.25s ease-in-out;
}
.projects_link:hover {
  transform: translateY(-4px);
}
.projects_link img {
  margin-left: 8px;
  margin-bottom: 2px;
}

.text_scroll_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 140px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}

.text_scroll {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
}

.text_scroll > div {
  display: flex;
  animation: scrollText 33s infinite linear;
  color: #1a1a1a;
}

.text_scroll > div > div > div {
  margin-right: 30px;
}
/*div:hover {
    animation-play-state: paused;
  }*/

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes elevateText {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.article_container div {
  padding: 24px 48px 24px 0;
  border-bottom: 1px solid #000000;
}

.article_container img {
  position: absolute;
  top: 28px;
  right: 24px;
}

.article_container p,
.article_container img {
  transition: transform 0.25s ease-in-out;
}
.article_container div:hover p,
.article_container div:hover img {
  transform: translateY(-4px);
}

@media screen and (max-width: 768px) {
  .section_title {
    padding: 0.75rem 0;
  }

  .text_scroll_wrapper {
    height: 80px;
  }

  .text_scroll {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transform: scale(1.2);
    transition: all 1s ease;
  }

  .article_container div {
    padding: 20px 48px 20px 0;
  }

  .article_container img {
    position: absolute;
    top: 24px;
  }
}
